In [1]:
import numpy as np
import pandas as pd

In [2]:
car=pd.read_csv(r"C:\Users\SAURABH\Desktop\datasets3.csv")

In [3]:
car.head()

,Distance(km),Fuel Type,Location,Manufacturing Year,Price in INR,Make,Model
0,48200.0,Diesel,NaN,2016.0,3200000.0,Audi,Q3 35 TDI Technology
1,55310.0,Diesel,Mumbai,2013.0,245000.0,Audi,Q3 2.0 TDI quattro
2,30120.0,Diesel,Nadia,2013.0,255000.0,Audi,Q3 2.0 TDI quattro
3,98000.0,Diesel,New Delhi,2011.0,249900.0,Audi,A8 L- 2013 3.0 TDI quattro
4,42000.0,Diesel,New Delhi,2009.0,220000.0,Audi,A8 (2003 - 2010) 3.0 TDi

In [4]:
car.isnull().sum()

Distance(km)             0
Fuel Type                0
Location              7490
Manufacturing Year       0
Price in INR             0
Make                     0
Model                   18
dtype: int64

In [5]:
car=car.drop("Location",axis=1)

In [6]:
car.head()

,Distance(km),Fuel Type,Manufacturing Year,Price in INR,Make,Model
0,48200.0,Diesel,2016.0,3200000.0,Audi,Q3 35 TDI Technology
1,55310.0,Diesel,2013.0,245000.0,Audi,Q3 2.0 TDI quattro
2,30120.0,Diesel,2013.0,255000.0,Audi,Q3 2.0 TDI quattro
3,98000.0,Diesel,2011.0,249900.0,Audi,A8 L- 2013 3.0 TDI quattro
4,42000.0,Diesel,2009.0,220000.0,Audi,A8 (2003 - 2010) 3.0 TDi

In [7]:
car.isnull().sum()

Distance(km)           0
Fuel Type              0
Manufacturing Year     0
Price in INR           0
Make                   0
Model                 18
dtype: int64

In [8]:
car=car[~car["Model"].isna()]

In [9]:
car.isnull().sum()

Distance(km)          0
Fuel Type             0
Manufacturing Year    0
Price in INR          0
Make                  0
Model                 0
dtype: int64

In [10]:
car.info

<bound method DataFrame.info of        Distance(km)   Fuel Type  Manufacturing Year  Price in INR   Make  \
0           48200.0      Diesel              2016.0     3200000.0   Audi
1           55310.0    Diesel                2013.0      245000.0   Audi
2           30120.0    Diesel                2013.0      255000.0   Audi
3           98000.0    Diesel                2011.0      249900.0   Audi
4           42000.0    Diesel                2009.0      220000.0   Audi
...             ...         ...                 ...           ...    ...
17275      120000.0      Diesel              2012.0     1650000.0  Volvo
17276       21937.0    Diesel                2013.0      330000.0  Volvo
17277       45000.0    Diesel                2015.0      570000.0  Volvo
17278      105659.0    Diesel                2007.0      200000.0  Volvo
17279       55000.0    Diesel                2013.0      240000.0  Volvo

                            Model
0            Q3 35 TDI Technology
1              Q3 2.0 TDI quattro
2              Q3 2.0 TDI quattro
3      A8 L- 2013 3.0 TDI quattro
4        A8 (2003 - 2010) 3.0 TDi
...                           ...
17275                 XC90 D5 AWD
17276                 XC90 D5 AWD
17277            XC90 D5 Momentum
17278     XC90 [2007-2015] D5 AWD
17279             XC60 Kinetic D4

[17262 rows x 6 columns]>

In [11]:
car["Price in INR"].unique

<bound method Series.unique of 0        3200000.0
1         245000.0
2         255000.0
3         249900.0
4         220000.0
           ...
17275    1650000.0
17276     330000.0
17277     570000.0
17278     200000.0
17279     240000.0
Name: Price in INR, Length: 17262, dtype: float64>

In [12]:
car["Manufacturing Year"]=car["Manufacturing Year"].astype(int)

In [13]:
car["Manufacturing Year"].unique

<bound method Series.unique of 0        2016
1        2013
2        2013
3        2011
4        2009
         ...
17275    2012
17276    2013
17277    2015
17278    2007
17279    2013
Name: Manufacturing Year, Length: 17262, dtype: int32>

In [14]:
car["Distance(km)"].unique

<bound method Series.unique of 0         48200.0
1         55310.0
2         30120.0
3         98000.0
4         42000.0
           ...
17275    120000.0
17276     21937.0
17277     45000.0
17278    105659.0
17279     55000.0
Name: Distance(km), Length: 17262, dtype: float64>

In [15]:
car.isnull().sum()

Distance(km)          0
Fuel Type             0
Manufacturing Year    0
Price in INR          0
Make                  0
Model                 0
dtype: int64

In [16]:
car.reset_index(drop=True)

,Distance(km),Fuel Type,Manufacturing Year,Price in INR,Make,Model
0,48200.0,Diesel,2016,3200000.0,Audi,Q3 35 TDI Technology
1,55310.0,Diesel,2013,245000.0,Audi,Q3 2.0 TDI quattro
2,30120.0,Diesel,2013,255000.0,Audi,Q3 2.0 TDI quattro
3,98000.0,Diesel,2011,249900.0,Audi,A8 L- 2013 3.0 TDI quattro
4,42000.0,Diesel,2009,220000.0,Audi,A8 (2003 - 2010) 3.0 TDi
...,...,...,...,...,...,...
17257,120000.0,Diesel,2012,1650000.0,Volvo,XC90 D5 AWD
17258,21937.0,Diesel,2013,330000.0,Volvo,XC90 D5 AWD
17259,45000.0,Diesel,2015,570000.0,Volvo,XC90 D5 Momentum
17260,105659.0,Diesel,2007,200000.0,Volvo,XC90 [2007-2015] D5 AWD
17261,55000.0,Diesel,2013,240000.0,Volvo,XC60 Kinetic D4

In [17]:
car.describe()

       Distance(km)  Manufacturing Year  Price in INR
count  1.726200e+04        17262.000000  1.726200e+04
mean   6.704085e+04         2011.800602  9.896819e+06
std    7.226449e+04            3.043661  8.868804e+07
min    0.000000e+00         1998.000000  1.020000e+04
25%    3.776450e+04         2010.000000  3.600000e+04
50%    5.944200e+04         2012.000000  7.600000e+04
75%    8.355300e+04         2014.000000  2.350000e+05
max    7.175673e+06         2019.000000  1.000000e+09

In [18]:
car=car[car["Price in INR"]<6e5].reset_index(drop=True)

In [19]:
car.head()

,Distance(km),Fuel Type,Manufacturing Year,Price in INR,Make,Model
0,55310.0,Diesel,2013,245000.0,Audi,Q3 2.0 TDI quattro
1,30120.0,Diesel,2013,255000.0,Audi,Q3 2.0 TDI quattro
2,98000.0,Diesel,2011,249900.0,Audi,A8 L- 2013 3.0 TDI quattro
3,42000.0,Diesel,2009,220000.0,Audi,A8 (2003 - 2010) 3.0 TDi
4,41000.0,Diesel,2009,265000.0,Audi,A8 (2003 - 2010) 3.0 TDi

In [20]:
car.tail()

,Distance(km),Fuel Type,Manufacturing Year,Price in INR,Make,Model
16522,20000.0,Diesel,2014,430000.0,Volvo,XC90 (2010-2015) D5 AWD
16523,21937.0,Diesel,2013,330000.0,Volvo,XC90 D5 AWD
16524,45000.0,Diesel,2015,570000.0,Volvo,XC90 D5 Momentum
16525,105659.0,Diesel,2007,200000.0,Volvo,XC90 [2007-2015] D5 AWD
16526,55000.0,Diesel,2013,240000.0,Volvo,XC60 Kinetic D4

In [21]:
car.to_csv('clean_car.csv')

# Model

In [22]:
X=car.drop(columns="Price in INR")
y=car["Price in INR"]

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51)

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [25]:
ohe=OneHotEncoder()
ohe.fit(X[["Distance(km)","Fuel Type","Manufacturing Year","Make","Model"]])

OneHotEncoder()

In [26]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),["Distance(km)","Fuel Type","Manufacturing Year","Make","Model"]),remainder="passthrough")

In [27]:
lr=LinearRegression()

In [28]:
pipe=make_pipeline(column_trans,lr)

In [29]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array([0.000000e+00, 6.000000e+00, 6.000000e+01, ..., 8.550000e+05,
       9.200000e+05, 1.300087e+06]),
                                                                            array(['CNG', 'Diesel', 'LPG', 'Petrol', 'diesel', 'petrol', '\xa0  \xa0',
       '\xa0 CNG \xa0', '\xa0 CNGPetrol \xa0', '\xa0 Diesel \xa0',
       '\xa0 H...
       'Mahindra', 'Maruti', 'Maruti ', 'Mercedes-Benz', 'Mini',
       'Mitsubishi', 'Nissan', 'Opel', 'Renault', 'Skoda', 'Tata',
       'Toyota', 'Volkswagen', 'Volvo'], dtype=object),
                                                                            array(['1 Series 116i', '3 Series Convertible 330d',
       '3 Series GT 320d GT Luxury Line', ..., 'zen[LXI',
       'zen[estilo LXI', 'zen[estilo VXI'], dtype=object)]),
                                                  ['Distance(km)', 'Fuel Type',
                                                   'Manufacturing Year', 'Make',
                                                   'Model'])])),
                ('linearregression', LinearRegression())])

In [30]:
y_pred=pipe.predict(X_test)

In [31]:
pipe.score(X_test,y_test)

0.9684512365619553

In [32]:
r2_score(y_test,y_pred)

0.9684512365619553

In [36]:
import joblib

In [37]:
joblib.dump(pipe,open("LinearRegressionModel.pkl","wb"))

In [39]:
pipe.predict(pd.DataFrame([[20000.0,'Diesel',2014,'Volvo','XC90 D5 AWD']],columns=['Distance(km)','Fuel Type','Manufacturing Year','Make','Model']))

array([689266.95503487])